@page "/"
@rendermode InteractiveServer
@using System.Drawing

<PageTitle>Index</PageTitle>

<div class="color-selection">
    <div>
        <label for="player1-colors">Player 1 Color</label>
        <select name="player1-colors" id="player1-colors" @bind="player1Selection">
            <option value="">choose a color</option>
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="purple">purple</option>
            <option value="black">black</option>
        </select>
    </div>

    <div>
        <label for="player2-colors">Player 2 Color</label>
        <select name="player2-colors" id="player2-colors" @bind="player2Selection">
            <option value="">choose a color</option>
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="purple">purple</option>
            <option value="black">black</option>
        </select>
        
    </div>
</div>

<Board @rendermode="InteractiveServer" 
    BoardColor="Color.Black"
    Player1Color="@player1Color"
    Player2Color="@player2Color"
    />

@code {
    private string player1Selection = "";
    private string player2Selection = "";

    private Color player1Color => GetColorFromSelection(player1Selection, Color.Red);
    private Color player2Color => GetColorFromSelection(player2Selection, Color.Blue);

    private Color GetColorFromSelection(string color, Color defaultColor)
    {
        if (string.IsNullOrWhiteSpace(color))
        {
            return defaultColor;
        }
        return color switch
        {
            "red" => Color.Red,
            "orange" => Color.Orange,
            "yellow" => Color.Yellow,
            "green" => Color.Green,
            "blue" => Color.Blue,
            "purple" => Color.Purple,
            "black" => Color.Black,
            _ => defaultColor
        };
    }
}
